@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap');

* {
    border: 0;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    background-color: #023e8a;
}

a {
    text-decoration: none;
}

.container {
    width: 1000px;
    margin: 0 auto;
}

.header {}

/* header-top */

.header-top {
    background-color: #14213d;
    width: 100%;
}


.menu {
    list-style: none;
    display: flex;
}

.menu__item {
    margin-right: 1.5rem;
}

.menu-item__link {
    color: #e5e5e5;
    text-decoration: none;
    transition: .5s;
}

.menu-item__link:hover {
    color: #48cae4;
}

.header-logo__link {
    font-size: 1.4rem;
    color: #e5e5e5;
    transition: .5s;
}

.header-logo__link:hover {
    color: #48cae4;
}

.header-wrapper {
    display: flex;
    justify-content: space-between;
    height: 5rem;
    align-items: center;
}

.header-bottom__wrapper {
    background-color: white;
    padding: .8rem;
}

.header-title {
    display: flex;
    flex-direction: column;
    text-align: center;
}

.header-title h2 {
    font-size: 2rem;
    margin-top: 1rem;
    margin-bottom: .8rem;
    color: #14213d;
}

.header-title span {
    font-size: .9rem;
    color: #415a77;
}

.header-content {
    text-align: center;
    margin-top: 2rem;
}

.header-boxs {
    display: flex;
    justify-content: center;
    margin-top: 1rem;
}

.header-box {
    flex-basis: 30%;
    background-color: #98c1d9;
    margin-right: 1rem;
    padding: 4rem;
    border-radius: .2rem;
}

.footer {
    background-color: #03045e;
    font-size: 1rem;
    padding: 1.4rem;
    color: #e5e5e5;
    margin-top: 348px;
    text-align: center;
}

.form {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: .7rem;
}

.form input {
    padding: 1rem;
    outline: none;
    border: 1px solid #d9d9d9;
    width: 18rem;
    border-radius: 5px;
    margin-top: .7rem;
}

.form button{
    background-color: #0077b6;
    color: white;
    padding: 1rem 7.1rem;
    margin-top: 1rem;
    border-radius: 5px;
    font-size: 1rem;
    cursor: pointer;
    font-weight: bolder;
}